
.App {
  text-align: center;
  background-image: url(../assets/background2.png);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Uni-logo {
    background-image: url(../assets/uni_logo.png);
    background-size: cover;
    background-position: center;
    width: 70vw;
    height: 25vh;
    max-width: 480px;
}

.vk_logo {
  background-image: url(../assets/vk_logo.png);
  background-size: cover;
  background-position: center;
  max-width: 90px;
  max-height: 90px;
  width: 20vw;
  height: 20vw;
  margin: 10px;
}
  
buttonEnable, buttonDisable {
    width: 95%;
    max-width: 480px;
    min-height: 60px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;      
    margin: 5px;
    font: 400 18px 'Open Sans',sans-serif;
    border-radius: 10px;
  }

buttonEnable {
  background-color: rgba(114, 164, 207, 0.7);
  cursor: pointer;
}
  
buttonDisable {
    background-color: rgba(125, 136, 145, 0.7);
  }
  
buttonDisable div{
    font: 400 14px 'Open Sans',sans-serif;
  }
  
buttonEnable:hover {
    transform: scale(1.01);
  }

.link_container {
  margin: 20px 20px 0px 20px;
  font: 400 14px 'Open Sans',sans-serif;
}

.main_content_container {
  max-width: 814.4px;
  width: 95%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.svg_gradientlines_container {
  width: 95%;
  max-width: 480px;
  height: 60px;
  background-color: transparent;
  position: relative;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.svg_gradientlines_container::after, 
.svg_gradientlines_container::before {
  content: '';
  opacity: .3;
  height: 1px;
  width: 25vw;
  max-width: 150px;
  position: absolute;
  top: 50%;
}

.svg_gradientlines_container::after {
  background: linear-gradient(to left, transparent, white);
  left: 50%;
  margin-left: max(12px,3%);
}

.svg_gradientlines_container::before {
  background: linear-gradient(to right, transparent, white);
  right: 50%;
  margin-right: max(12px,3%);
}

.svg_container {
  background-image: url(../assets/svg/angle.svg);
  background-size: 17px;
  height: 17px;
  width: 17px;

}
