.App {
  text-align: center;
}

.App-logo {
  height: 300px;
  pointer-events: none;
}

buttonEnable {
  width: 500px;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: rgba(114, 164, 207, 0.7);
  margin: 5px;
  font: 400 18px 'Open Sans',sans-serif;
  padding: 20px;
  border-style: none;
  border-radius: 10px;
}

buttonEnable {
  width: 500px;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: rgba(114, 164, 207, 0.7);
  margin: 5px;
  font: 400 18px 'Open Sans',sans-serif;
  padding: 20px;
  border-style: none;
  border-radius: 10px;
}

buttonDisable {
  width: 500px;
  color: white;
  text-align: center;
  background-color: rgba(125, 136, 145, 0.7);
  margin: 5px;
  font: 400 18px 'Open Sans',sans-serif;
  padding: 20px 20px 5px;
  border-style: none;
  border-radius: 10px;
}

smallText{
  font: 400 14px 'Open Sans',sans-serif;
}

buttonEnable:hover {
  transform: scale(1.2);
}

.App-header {
  background-image: url(background.png);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f5d4bd;
}


